*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-image: linear-gradient(120deg, rgb(142, 175, 206), rgb(210, 210, 210));
  display: flex;
  justify-content: center;
}
.main-contianer{
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10vh;
}
@media (min-width: 768px) {
  .main-contianer{
    width: 65vw;
  }
}

  